# This is a basic workflow to help you get started with Actions
name: Cron job to generate hosts file from various sources
#on: push

# Controls when the workflow will run
on:
  push:
  #  # Triggers the workflow every 30 minutes
  schedule:
  - cron: "*/30 * * * *"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "cron"
  cron:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: checkout repo content
      uses: actions/checkout@v3 # checkout the repository content to github runner.
      with:
        repository: shekarpathi/helloWorld
        persist-credentials: true # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.
        fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository.
        clean: true

    - name: setup python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8 #install the python needed

    - name: install python packages
      run: |
        python -m pip install --upgrade pip
        pip install requests
        git config --global user.name "Shekar"
        git config --global user.email "shekar@yahoo.com"
        ls -ltra ./
        git status
    - name: Run python program to extract
      run: |
        ls -ltra hosts.add
        python ./python/foo.py
        ls -ltra hosts.add
        python ./python/lemo.py

        python getDullesArrivals.py

    - name: Generate dummy file
      run: |
        date > generated.txt
        ls -ltra generated.txt

    - name: Add, commit and push changes
      uses: EndBug/add-and-commit@v9 # You can change this to use a specific version.
      with:
        # The arguments for the `git add` command (see the paragraph below for more info)
        # Default: '.'
        add: '.'
        push: true
        tag: 'v1.0.0 --force'
        tag_push: '--force'
        message: 'Added hosts.txt'
